<ul class="collection">
  {{range .}}
  <li class="collection-item">
      {{if .Issues}}
          <i class="material-icons">whatshot</i>
      {{else}}
          <i class="material-icons">category</i>
      {{end}}
      {{.Name}}
      <span></span>
       <div class="secondary-content">
         <a class="btn-flat waves-effect waves-light modal-trigger" href="#qrmodal{{.Id}}">
                <i class="material-icons right">qr_code_2</i> VIEW QR CODE
         </a>
         <a class="btn-flat waves-effect waves-light" onclick="displayIssues('{{.Id}}')">
                <i class="material-icons right">list</i> VIEW ISSUES
         </a>

       </div>
  </li>

  <!-- QR Modal -->

  <!-- Modal Structure -->
  <div id="qrmodal{{.Id}}" class="modal">
    <div class="modal-content">
      {{template "item_image_card.html" .}}
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>


  {{end}}
</ul>

<script>
  let itemissues = {{.}};
</script>
<div id="issues_view"></div>

